
@import '../variables';

.me-app {
  height: 100%;
  display: flex;
}

.me-app-route-wrapper {
  background: $darkgray;
  display: flex;
  flex: 1;
}

.me-loading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
