@import '../variables';

.me-movie-detail {
  display: flex;
  flex: 1;
}

.me-movie-detail__main-left {
  width: 350px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .me-movie-detail__main-left {
    display: none;
  }
}

.me-movie-detail__main-left__fixed-wrapper {
  height: 390px;
}

.me-movie-detail__main-left__scrollable-wrapper {
  flex: 1;
  overflow: auto;
}

.me-movie-detail__main-left__main-poster {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.me-movie-detail__main-left__main-poster--border {
  background: $yellow;
  height: 10px;
  margin-right: -4px;
}

.me-movie-detail__main-left__details {
  padding-left: 20px;
  padding-top: 20px;
}

.me-movie-detail__main-left__buttons {
  display: flex;
  margin: 0 -10px;
}

.me-movie-detail__main-left__backdrops {
  padding-left: 20px;
  padding-right: 5px;
}

.me-movie-detail__main-left__backdrop__row {
  height: 100px;
  display: flex;
  margin: 0 -3px;
  margin-bottom: 6px;
}

.me-movie-detail__main-left__backdrop {
  height: 100px;
  margin: 0 3px;
  background-position: center;
  background-size: cover;
  border: 2px solid $darkergray;
  opacity: 0.35;
  &:hover {
    opacity: 1;
    cursor: hand;
  }
}

.me-movie-detail__main-left__backdrop-wide {
  flex: 2;
}

.me-movie-detail__main-left__backdrop-narrow {
  flex: 1;
}

.me-movie-detail__main-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.me-movie-detail__main-right__info {
  width: 100%;
  
  height: 400px;
  // background: red;
  // margin-top: 20px;
  padding: 20px 40px;
  box-sizing: border-box;
  overflow: auto;
}

.me-movie-detail__main-right__info__title {
  margin-top: 5px;
  color: white;
}

.me-movie-detail__main-right__info__year {
  color: white;
  font-size: 20px;
}

.me-movie-detail__main-right__info__desc {
  // color: $lightergray;
}

.me-movie-detail__main-right__info__scoretable {
  margin-top: 30px;
  height: 150px;
  display: flex;
  align-items: center;
  .score {
    width: 150px;
    .circle-wrapper {
      position: relative;
      width: 120px;
    }
    .value {
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 120px;
      font-size: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      color: white;
    }
  }
  table {
    flex: 1;
    td {
      height: 30px;
    }
    .detail {
      padding-left: 20px;
      color: white;
    }
  }
}

.me-movie-detail__main-right__crew {
  flex: 1;
  overflow: auto;
  margin-right: 20px;
  table {
    margin: 0 auto;
    td {
      height: 30px;
      padding-top: 10px;
    }
    .detail {
      padding-left: 20px;
      color: white;
    }
    .info {
      padding-left: 20px;
    }
    .photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      border: 5px solid $darkergray;
    }
  }
}
