
@import './variables';

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.me-app {
  height: 100%;
  display: flex;
}

.me-sidebar {
  width: 85px;
  background: $yellow;
}

.me-sidebar__logo {
  display: block;
  margin: 25px auto 40px auto;
  width: 35px;
}

.me-sidebar__button {

}

.me-sidebar__button--active {

}
