
@import './variables';

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body, input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: gray;
}
